.user {
  .header {
    background-color: var(--primary);
    border: none;
  }

  .navbar {
    background-color: var(--primary);
  }
}
.logo {
  margin-right: 4%;
}
.header-caliber {
  span {
    position: absolute;
    right: 0%;
    top: 0%;
  }
}
/* .menu-icon{
  display: flex;
}
.fi-br-menu-burger{
  color: white;


} */
.navbar {
  transition: width 0.3s ease;
}


