.create {
  position: relative;
}

.create__buttons {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: var(--mantine-color-white);
  border: 1px solid var(--mantine-color-gray-3);
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-md);
}
