
  .forgot-links {
    display: flex;
    justify-content: space-between;
    margin: 2%;
color: white;
  }
  .login-form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23295A;
    background: transparent linear-gradient(180deg, #23295A 0%, #232959 1%, #070812 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 0.9;
  }
  .login{
    width: 75%;
    margin: 10%;
  }
  .login-button {
    width: 100%;
    background-color: #67A246;
    height: 2.5rem;
   
  }
  a{
    color:#FFFFFF;
  }
  footer{
    position: absolute;
    bottom: 3% ;
   left: 15%;
   color: #000000;
  }
  .loginBtn-select{
    display :flex;
    justify-content: space-between;
  }
  .bg-image{
    display: flex;
    justify-content: center;
  }
  .bg-light{
    margin: 0%;
    padding: 0%;
    background-image: url("../../assets/logo.jpeg");
    object-fit: contain;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 40%;
  
  }
  .headerLogo{
    position: absolute;
  }
 
 .main{
  width: 100vw;
 }
 .loginBtn-select{
  display: flex;
 
  justify-content: space-between;
 }
 .m_6c018570{
  --input-height: 2.5rem;

 }
.login-form-logo{
  display: flex;

  justify-content: center;
  .m_9e117634{
    width: 20%;
    margin: 5%;
  }

}
