:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;

  --primary: #23295a;
  --secondary: #fcbc14;
  --gray: #828282;
  --light-gray: #c4c4c4;
  --lighter-gray: #f3f3f6;
}
